*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(244, 240, 240);

}
img{
    padding-top: 1.5rem;
    width: 19rem;
}
header{
    background-color: rgb(211, 250, 211);
    padding: 1.5rem 0;
    text-decoration: none;
}
header h1{
    display: flex;
    justify-content: center;
}
nav{
   
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    padding: 1rem;
}
nav a{
    text-decoration: none;
    color: rgb(23, 214, 23);
}
.section{
    margin: 1.5rem 1.5rem -2rem;
    padding-left: 6rem;

}
.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 4rem;
}
.product{
    max-width: 22rem;
    width: 100%;
    background: white;
    height: 40.5rem;
    text-align: center;
    align-items: center;
}
.product h2{
    padding-top: 1rem;
}
.product p{
    font-size: 1.5rem;
    padding: 1rem 2rem;
    font-size: 17px;
}
.img-b{
    height: 28rem;
}
.img-s{
    height: 19rem;
}

footer{
    background-color: rgb(3, 82, 3);
    margin-top: 12.5rem;
}
footer p{
    display: flex;
    justify-content: center;
    color: white;
    padding: 1.2rem 0;
}
.product .price{
    font-size: 1.5em;
    color: rgb(23, 214, 23);
}