*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(244, 240, 240);

}
img{
    padding-top: 1.5rem;
    width: 19rem;
}
header{
    background-color: #d9eed9;
    padding: 1.5rem 0;
    text-decoration: none;
}
header h1{
    display: flex;
    justify-content: center;
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    padding: 1rem;
}
nav a{
    text-decoration: none;
    color: #4CAF50;
}
.section{
    margin: 1.5rem 1.5rem -2rem;
    padding-left: 6rem;

}
.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 2rem;
}
.product{
    margin-top: 2rem;
    max-width: 22rem;
    width: 100%;
    background: white;
    height: 40.5rem;
    text-align: center;
    align-items: center;
}
.product h2{
    padding-top: 1rem;
}
.product p{
    font-size: 1.5rem;
    padding: 1rem 2rem;
    font-size: 17px;
}
.img-b{
    height: 28rem;
}
.img-s{
    height: 19rem;
}

footer{
    background-color: #124314;
    margin-top: 12.5rem;
}
footer p{
    display: flex;
    justify-content: center;
    color: white;
    padding: 1.2rem 0;
}
.product .price{
    font-size: 1.5em;
    color: rgb(23, 214, 23);
}
@media (min-width: 72rem) {
    .product-list {
       padding: 7rem;
    }
    .product{
        margin-top: -3rem;
        max-width: 16rem;
        gap: 8rem;
        height: 42rem;
    }
    .product p{
        font-size: 1rem;
    }
    img{
        width: 13rem;
    }
    .section{
        margin-top: -4rem;
    }
    nav{
        margin-bottom: 5rem;
    }
    footer{
        margin-top: -0.5rem;
    }
}